<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report</title>
    <style>
        a{
            color: black;
            text-decoration: none;
        }
        .link{
            margin: 5%;
        }
        .reportlink{
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <h1>Reports</h1>
    <div class="link">
        <ul>
            <li><a href="/Question_report" class="reportlink" id="Question_report" style="margin-top: 10px;">Question Report</a></li>
            <li><a href="/Answer_report" class="reportlink" id="Answer_report" style="margin-top: 10px;">Answer Report</a></li>
            <li><a href="/Comment_report" class="reportlink" id="Comment_report" style="margin-top: 10px;">Comment report</a></li>
            <li><a href="/Profile_report" class="reportlink" id="profile_report" style="margin-top: 10px;">Profile Report</a></li>
            <li><a href="/Like_report" class="reportlink" id="Like_report" style="margin-top: 10px;">Like Report</a></li>
            <li><a href="/Dislike_report" class="reportlink" id="Dislike_report" style="margin-top: 10px;">Dislike Report</a></li>
        </ul>
        
    </div>
    </body>
</html>

